body {
    margin: 0;
    font-family: sans-serif;
}

button {
    background-color: lightblue;
}

.timer-container {
    display: flex;
    font-size: 25px;
    width: 100px;
    justify-content: space-between;
    margin-right: 150px;
}

header {
    display: flex;
    justify-content: flex-end;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
}

.view-highscore-button:hover {
    cursor: pointer;
}

header p {
    font-size: 25px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 100px;
    font-size: 150%;
}

main p {
    width: 50%;
}

#start-quiz-button {
    font-size: 20px;
    padding: 10px 40px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 100px;
}

section {
    display: none;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    margin-top: 100px;
}

.answer-buttons-group {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

.answer-buttons-group button {
    width: 30%;
    height: 50px;
    margin: 10px 0px;
    border-radius: 10px;
}

.quiz-end-section {
    display: none;
    flex-direction: column;
    text-align: start;
    align-items: center;
}

.high-score-display {
    display: none;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
}

.high-score-display button {
    height: 30px;
    width: 140px;
    border-radius: 10px;
}

.high-score-page-buttons {
    width: 300px;
    display: flex;
    justify-content: space-between;
}

li {
    width: 300px;
    padding: 20px 0px;
    margin: 5px 0px;
    background-color: lightblue;
    border-radius: 10px;
}